
body{
    margin: 0px;    
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url(https://www.lse.ac.uk/cpnss/assets/images/vpp/i-voted.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.datetime{
    text-size-adjust: 50px;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.formWraper{
    display: flex;
    width: 55%;
    max-width: 500px;
    height: 550px;
    margin-top: 80px;
    border-radius: 10px;
    box-shadow:0px 0px 20px black;
}
.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;    
}
.inner{
    border-radius: 10px;
    height: 20px;
}

.formDiv{
    width: 100%;
    padding: 8%;
    background-color: lavender;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.formDiv h2{
    color: green;
    margin-top: -5px;
}


.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: lavender;
    margin: 5px;
    line-height: 30px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
}
 .fa {
     color: green;
 }

/* .text{
    font-size: small;
} */



.formGroup{ 
    width: 100%;
    position: relative;
    border-radius: 20px;

}
.formGroup input{
    width: 93%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
}
.formGroup i {
    position: absolute;
    left: 10px;
    top: 10px;
}
.checkbox{
    width: 100%;
    margin-top: 2px;
}
.btn1{
    width: 70%;
    padding: 15px;
    background-color: green;
    margin-top: 15px;
    color: lavender;
    border-radius:  20px; 
    border-style: none;
}
.btn2{
    width: 70%;
    padding: 15px;
    background-color: transparent;
    margin-top: 15px;
    color: lavender;
    border-radius: 20px; 
    border-style: none;
    border: 2px solid black
}
.btn1:hover:hover, .btn2:hover, .icon:hover{
    background-color: rgb(74, 54, 54);
}